<div class="post-toc" id="post-toc">
    <strong class="post-toc-title">目录</strong>
    <%- toc(page.content, {list_number: false}) %>
    <div class="back-to-top" id="back-to-top">
        <a href="javascript:void(0);">回到顶部</a>
    </div>
</div>